@font-face {
	font-family: "OTEnjoystoriesBA";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GmarketSansBold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GmarketSansMedium";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 400;
	src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format("woff2"),
	url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format("woff"),
	url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format("opentype");
}

@keyframes rotate {
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

html, body {
	width: 100%;
	height: 100%;
}
body {
	font-family: "GmarketSansMedium";
	background-color: #5B2386;
	color: #fff;
}

/* contents */
#contents {
	display: flex;
	justify-content: center;
}
.wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	width: 100%;
	height: 100%;
}

/* title */
.title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
.title .clock_img {
	position: relative;
	width: 265px;
	height: 265px;
}
.title_img {
	position: absolute;
	width: 564px;
}
.title_img img {
	width: 100%;
	height: auto;
}

/* intro */
.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}
.intro .intro_saying {
	margin-bottom: 50px;
	font-family: "OTEnjoystoriesBA";
	font-size: 2.25em;
	color: #f5df4d;
}
.intro .explain {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
	text-align: center;
}
.intro .quotes {
	position: relative;
	padding-top: 20px;
}
.intro .explain p {
	position: absolute;
	line-height: 1.7;
	font-size: 1.0625em;
}
.intro .explain span {
	font-family: "GmarketSansBold";
	font-size: 1.25em;
}

/* inputs */
.inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 70px;
	font-size: 1.25em;
}
.inputs div {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.inputs input {
	margin: 0 15px;
	padding: 15px 20px;
	width: 200px;
	font-family: "GmarketSansMedium";
	font-size: 1.25em;
	border: none;
	border-radius: 10px;
}
.inputs input::placeholder {
	color: #babcbe;
}

/* button */
button {
	display: flex;
	align-items: center;
	padding: 10px 40px;
	word-break: keep-all;
	font-family: "GmarketSansBold";
	font-size: 1.25em;
	background-color: #fcee21;
	color: #5B2386;
	border: none;
	cursor: pointer;
	border-radius: 30px;
}

/* start */
.start {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
}
.start .btn_wrap {
	position: relative;
}
.start .click_img {
	position: absolute;
	right: -75px;
	bottom: -25px;
}

/* result loading */
.result_loading {
	display: none;
	justify-content: center;
	margin-bottom: 80px;
}
.result_loading .img_wrap {
	width: 100px;
	height: 100px;
}
.result_loading .img_wrap img {
	width: 100%;
	height: auto;
	animation: rotate 1.1s infinite linear;
}

/* result */
.result {
	display: none;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
	line-height: 1.5;
}
.result .result_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.result .result_wrap div {
	display: flex;
	align-items: center;
	font-size: 1.25em;
}
.result span {
	padding: 0 20px;
	font-family: "GmarketSansBold";
	font-size: 4.375em;
}

/* buttons */
.buttons {
	display: flex;
	justify-content: center;
	margin-top: 70px;
}
.buttons .share button {
	margin-left: 20px;
	background-color: #fff;
}

/* modal */
#modal {
	display: none;
	position: fixed;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
}
#modal .modal_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 600px;
	background-color: #fff;
	border-radius: 20px;
}
#modal .cheer {
	text-align: center;
	font-family: "OTEnjoystoriesBA";
	color: #5B2386;
}
#modal .cheer h1 {
	font-size: 5em;
}
#modal .cheer h3 {
	font-size: 1.875em;
}
#modal .licat_img {
	margin-bottom: 20px;
}
#modal .close_btn {
	margin-bottom: 20px;
	box-shadow: 0px 6px 16px 0px rgb(0 0 0 / 15%), 0px 5px 16px 0px rgb(0 0 0 / 15%);
}
#modal .btn p {
	text-align: center;
	color: #747474;
	font-size: 0.8125em;
}

/* copyright */
#copyright {
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 0;
	bottom: 0;
	padding-bottom: 50px;
}
#copyright p {
	padding: 20px 0;
	line-height: 1.5;
	font-size: .625em;
	text-align: center;
}

@media all and (min-width: 320px) and (max-width: 359px) {
	.wrapper {
		margin-top: 20px;
	}
	.title {
		margin-bottom: 30px;
	}
	.title .clock_img {
		width: 125px;
		height: 126px;
	}
	.title_img {
		width: 267px;
	}
	.intro {
		margin-bottom: 30px;
	}
	.intro .intro_saying {
		margin-bottom: 30px;
		font-size: 1.375em;
	}
	.intro .explain {
		margin-bottom: 30px;
	}
	.intro .quotes {
		padding-top: 10px;
		width: 270px;
	}
	.intro .quotes img {
		width: 100%;
		height: auto;
	}
	.intro .explain p {
		padding: 0 50px;
		line-height: 1.5;
		word-break: keep-all;
		font-size: 0.8125em;
	}
	.intro .explain span {
		font-size: 0.8125em;
	}
	.inputs {
		margin-bottom: 20px;
		font-size: 0.8125em;
	}
	.inputs div {
		margin-bottom: 10px;
	}
	.inputs input {
		margin: 0 5px;
		padding: 10px 10px;
		width: 90px;
		font-size: 0.8125em;
	}
	.inputs .time {
		display: flex;
		flex-direction: column;
	}
	.inputs .time > p {
		margin-bottom: 10px;
	}
	button {
		padding: 10px 20px;
		font-size: 0.875em;
	}
	.start {
		margin-bottom: 30px;
	}
	.start button {
		width: 200px;
		border-radius: 15px;
	}
	.start .click_img {
		right: -45px;
		bottom: -10px;
		width: 43px;
		height: 48px;
	}
	.start .click_img img {
		width: 100%;
		height: auto;
	}
	.result_loading {
		margin-bottom: 30px;
	}
	.result_loading .img_wrap {
		width: 40px;
		height: 40px;
	}
	.result {
		margin-bottom: 30px;
	}
	.result .result_wrap div {
		padding: 0 10px;
		line-height: 2;
		font-size: 0.875em;
	}
	.result .result_wrap div:first-child {
		display: flex;
		flex-direction: column;
	}
	.result span {
		padding: 0 5px;
		font-size: 1.25em;
	}
	.buttons {
		margin-top: 30px;
	}
	.buttons .share button {
		margin-left: 10px;
	}
	#modal .modal_wrap {
		width: 270px;
		height: 400px;
	}
	#modal .cheer h1 {
		font-size: 2.5em;
	}
	#modal .cheer h3 {
		font-size: 1.5625em;
	}
	#modal .licat_img {
		margin-bottom: 20px;
		width: 200px;
	}
	#modal .licat_img img {
		width: 100%;
		height: auto;
	}
	#modal .close_btn {
		padding: 10px 40px;
		width: 241px;
		border-radius: 15px;
	}
	#modal .btn p {
		font-size: 0.625em;
	}
	#copyright {
		padding-bottom: 0;
	}
	#copyright .logo_img {
		width: 91px;
	}
	#copyright .logo_img img {
		width: 100%;
		height: auto;
	}
	#copyright p {
		padding: 15px 50px;
		line-height: 1.5;
		word-break: keep-all;
	}
}
@media all and (min-width: 360px) and (max-width: 450px) {
	.wrapper {
		margin-top: 20px;
	}
	.title {
		margin-bottom: 50px;
	}
	.title .clock_img {
		width: 125px;
		height: 126px;
	}
	.title_img {
		width: 267px;
	}
	.intro {
		margin-bottom: 50px;
	}
	.intro .intro_saying {
		margin-bottom: 50px;
		font-size: 1.5625em;
	}
	.intro .explain {
		margin-bottom: 50px;
	}
	.intro .quotes {
		width: 350px;
		padding-top: 10px;
	}
	.intro .quotes img {
		width: 100%;
		height: auto;
	}
	.intro .explain p {
		line-height: 1.5;
		font-size: 0.875em;
	}
	.intro .explain span {
		font-size: 0.875em;
	}
	.inputs {
		margin-bottom: 30px;
		font-size: 0.9375em;
	}
	.inputs div {
		margin-bottom: 20px;
	}
	.inputs input {
		margin: 0 10px;
		padding: 10px 15px;
		width: 100px;
		font-size: 0.9375em;
	}
	.inputs .time {
		display: flex;
		flex-direction: column;
	}
	.inputs .time > p {
		margin-bottom: 20px;
	}
	button {
		padding: 10px 25px;
		font-size: 0.9375em;
	}
	.start {
		margin-bottom: 50px;
	}
	.start button {
		width: 241px;
		border-radius: 15px;
	}
	.start .click_img {
		right: -50px;
		bottom: -10px;
		width: 43px;
		height: 48px;
	}
	.start .click_img img {
		width: 100%;
		height: auto;
	}
	.result_loading {
		margin-bottom: 50px;
	}
	.result_loading .img_wrap {
		width: 50px;
		height: 50px;
	}
	.result {
		margin-bottom: 50px;
	}
	.result .result_wrap div {
		font-size: 0.9375em;
	}
	.result span {
		padding: 0 10px;
		font-size: 1.5625em;
	}
	.buttons {
		margin-top: 50px;
	}
	.buttons .share button {
		margin-left: 10px;
	}
	#modal .modal_wrap {
		width: 330px;
		height: 450px;
	}
	#modal .cheer h1 {
		font-size: 3.75em;
	}
	#modal .licat_img {
		margin-bottom: 20px;
		width: 250px;
	}
	#modal .licat_img img {
		width: 100%;
		height: auto;
	}
	#modal .close_btn {
		padding: 10px 40px;
		width: 241px;
		border-radius: 15px;
	}
	#modal .btn p {
		font-size: 0.625em;
	}
	#copyright {
		padding-bottom: 20px;
	}
	#copyright .logo_img {
		width: 91px;
	}
	#copyright .logo_img img {
		width: 100%;
		height: auto;
	}
	#copyright p {
		padding: 15px 0;
		line-height: 1.5;
	}
}
@media all and (min-width: 451px) and (max-width: 767px) {
	.wrapper {
		margin-top: 40px;
	}
	.title {
		margin-bottom: 40px;
	}
	.title .clock_img {
		width: 180px;
		height: 180px;
	}
	.title_img {
		width: 430px;
	}
	.intro {
		margin-bottom: 20px;
	}
	.intro .intro_saying {
		margin-bottom: 40px;
		font-size: 1.875em;
	}
	.intro .explain {
		margin-bottom: 80px;
	}
	.intro .quotes {
		padding-top: 15px;
		width: 430px;
	}
	.intro .quotes img {
		width: 100%;
		height: auto;
	}
	.intro .explain span {
		font-size: 1.0625em;
	}
	.inputs {
		margin-bottom: 20px;
		font-size: 1.125em;
	}
	.inputs div {
		margin-bottom: 20px;
	}
	.inputs input {
		width: 170px;
		font-size: 1.125em;
	}
	.inputs .time {
		display: flex;
		flex-direction: column;
	}
	.inputs .time > p {
		margin-bottom: 20px;
	}
	button {
		font-size: 1.125em;
		border-radius: 30px;
	}
	.start {
		margin-bottom: 60px;
	}
	.start button {
		width: 300px;
		border-radius: 20px;
	}
	.start .click_img {
		right: -55px;
		bottom: -10px;
		width: 53px;
		height: 58px;
	}
	.start .click_img img {
		width: 100%;
		height: auto;
	}
	.result_loading {
		margin-bottom: 60px;
	}
	.result_loading .img_wrap {
		width: 70px;
		height: 70px;
	}
	.result {
		margin-bottom: 60px;
		line-height: 1.5;
	}
	.result .result_wrap div {
		padding: 0 20px;
		font-size: 1.125em;
	}
	.result span {
		padding: 0 10px;
		font-size: 1.875em;
	}
	.buttons {
		margin-top: 60px;
	}
	.buttons .share button {
		margin-left: 10px;
	}
	#modal .modal_wrap {
		width: 430px;
		height: 500px;
	}
	#modal .cheer h1 {
		font-size: 3.75em;
	}
	#modal .licat_img {
		margin-bottom: 20px;
		width: 300px;
	}
	#modal .licat_img img {
		width: 100%;
		height: auto;
	}
	#modal .close_btn {
		padding: 10px 40px;
		width: 300px;
		border-radius: 15px;
	}
}